In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
df_deliveries = pd.read_csv('./ipl/deliveries.csv')

### most dismissial by wicket keeper

In [3]:
df_deliveries['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

##### highest stumping

In [4]:
wk_stumping_series = df_deliveries[df_deliveries['dismissal_kind'] == 'stumped']['fielder'].value_counts()

wk_stumping_df = wk_stumping_series.reset_index()
wk_stumping_df.rename(columns={'index':'wicket_keeper', 'fielder':'stumping'}, inplace=True)
wk_stumping_df

      wicket_keeper  stumping
0        RV Uthappa        32
1          MS Dhoni        30
2        KD Karthik        26
3           WP Saha        17
4      AC Gilchrist        16
5          PA Patel        14
6           NV Ojha        10
7     KC Sangakkara         9
8    AB de Villiers         7
9         KM Jadhav         7
10       SP Goswami         7
11         MS Bisla         7
12      BB McCullum         6
13        DH Yagnik         5
14          AP Tare         5
15        CM Gautam         4
16         KL Rahul         4
17     Kamran Akmal         4
18      YV Takawale         4
19          PR Shah         3
20       MV Boucher         3
21          RR Pant         3
22        SV Samson         3
23        Q de Kock         3
24  KB Arun Karthik         2
25          N Saini         2
26        DJ Jacobs         2
27          M Rawat         2
28     Vishnu Vinod         2
29        AT Rayudu         2
30  Gurkeerat Singh         1
31       KH Devdhar         1

##### most catches

In [5]:
wk_list = wk_stumping_df['wicket_keeper'].to_list()
wk_list 

wk_catches_df = df_deliveries[(df_deliveries['dismissal_kind'] == 'caught') & (df_deliveries['fielder'].isin(wk_list))]['fielder'].value_counts()
wk_catches_df = wk_catches_df.reset_index()
wk_catches_df.rename(columns={'index':'wicket_keeper', 'fielder':'catches'}, inplace=True)
wk_catches_df

      wicket_keeper  catches
0        KD Karthik       88
1    AB de Villiers       81
2          MS Dhoni       76
3        RV Uthappa       75
4           NV Ojha       65
5          PA Patel       60
6      AC Gilchrist       51
7           WP Saha       51
8     KC Sangakkara       45
9         AT Rayudu       45
10      BB McCullum       36
11        SV Samson       34
12        KM Jadhav       23
13         MS Bisla       20
14          M Rawat       16
15       MV Boucher       14
16  Gurkeerat Singh       13
17      YV Takawale       13
18         KL Rahul       12
19        DH Yagnik       12
20          RR Pant       11
21          N Saini       11
22  KB Arun Karthik       11
23       SP Goswami       11
24          PR Shah       10
25        Q de Kock        7
26     Kamran Akmal        5
27          AP Tare        3
28        CM Gautam        3
29        DJ Jacobs        3

In [6]:
wk_dismissals_df = pd.merge(wk_catches_df, wk_stumping_df, on='wicket_keeper', how='outer')

wk_dismissals_df.head()

    wicket_keeper  catches  stumping
0      KD Karthik     88.0        26
1  AB de Villiers     81.0         7
2        MS Dhoni     76.0        30
3      RV Uthappa     75.0        32
4         NV Ojha     65.0        10

In [7]:
wk_dismissals_df.catches = wk_dismissals_df.catches.fillna(0)
wk_dismissals_df.catches = wk_dismissals_df.catches.astype(int)

In [8]:
wk_dismissals_df['total'] = wk_dismissals_df.catches + wk_dismissals_df.stumping

In [9]:
wk_dismissals_df.sort_values('total', ascending=False, inplace=True)
wk_dismissals_df.head()

    wicket_keeper  catches  stumping  total
0      KD Karthik       88        26    114
3      RV Uthappa       75        32    107
2        MS Dhoni       76        30    106
1  AB de Villiers       81         7     88
4         NV Ojha       65        10     75

In [10]:
wk_dismissals_df

      wicket_keeper  catches  stumping  total
0        KD Karthik       88        26    114
3        RV Uthappa       75        32    107
2          MS Dhoni       76        30    106
1    AB de Villiers       81         7     88
4           NV Ojha       65        10     75
5          PA Patel       60        14     74
7           WP Saha       51        17     68
6      AC Gilchrist       51        16     67
8     KC Sangakkara       45         9     54
9         AT Rayudu       45         2     47
10      BB McCullum       36         6     42
11        SV Samson       34         3     37
12        KM Jadhav       23         7     30
13         MS Bisla       20         7     27
14          M Rawat       16         2     18
23       SP Goswami       11         7     18
15       MV Boucher       14         3     17
17      YV Takawale       13         4     17
19        DH Yagnik       12         5     17
18         KL Rahul       12         4     16
16  Gurkeerat Singh       13         1     14
20          RR Pant       11         3     14
21          N Saini       11         2     13
22  KB Arun Karthik       11         2     13
24          PR Shah       10         3     13
25        Q de Kock        7         3     10
26     Kamran Akmal        5         4      9
27          AP Tare        3         5      8
28        CM Gautam        3         4      7
29        DJ Jacobs        3         2      5
30     Vishnu Vinod        0         2      2
31       KH Devdhar        0         1      1

### Plotting

In [11]:
wk_top10 = wk_dismissals_df.head(10)
wk_top10

    wicket_keeper  catches  stumping  total
0      KD Karthik       88        26    114
3      RV Uthappa       75        32    107
2        MS Dhoni       76        30    106
1  AB de Villiers       81         7     88
4         NV Ojha       65        10     75
5        PA Patel       60        14     74
7         WP Saha       51        17     68
6    AC Gilchrist       51        16     67
8   KC Sangakkara       45         9     54
9       AT Rayudu       45         2     47

In [12]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10,4))
plt.bar(wk_top10['wicket_keeper'], wk_top10['total'], label='Total')
# plt.bar(wk_top10['wicket_keeper'], wk_top10['catches'], label='Catches')
plt.bar(wk_top10['wicket_keeper'], wk_top10['stumping'], label='Stumping')


plt.title('Wicket Keeper Stats')
plt.xticks(rotation=45)
plt.xlabel('Wicket Keepers')
plt.ylabel('Dismissial')
plt.legend(loc='upper right')
plt.show()